# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @amityt @arkajyotiMukherjee @chandankumar4 @ksatchit @Jasstkn @neelanjan00 @oumkale @imrajdas @Vr00mm @gdsoumya @Saranya-jena @SarthakJain26 @S-ayanide @ispeakc0de @uditgaurav @Jonsy13 @umamukkara @namkyu1999 @PriteshKiri 
